##############################
# Config file for AutoFlairPost
# You can modify Reddit account settings and Machine Learning settings here.
#
# You must use quotes around any non-number config value you set.
##############################

# Set Logging level.  Can be one of: DEBUG INFO WARNING ERROR CRITICAL
LogLevel = 'INFO'

# Reddit account settings
Reddit.Subreddit = 
Reddit.AccountName = 
Reddit.Password = 
Reddit.AppID = 
Reddit.AppSecret = 

# Settings for the data retrieved from Reddit to perform machine learning on
Reddit.data.NumberOfPostsToExtract = 
