##############################
# Config file for AutoFlairPost
# You can modify Reddit account settings and Machine Learning settings here.
#
# You must use quotes around any non-number config value you set.
##############################

# Set Logging level.  Can be one of: DEBUG INFO WARNING ERROR CRITICAL
LogLevel = 'INFO'

# Reddit account settings
Reddit.Subreddit = 
Reddit.AccountName = 
Reddit.Password = 
Reddit.AppID = 
Reddit.AppSecret = 

# Settings for the data retrieved from Reddit to perform Machine Learning on
Reddit.data.NumberOfPostsToExtract = 

# How long to wait in seconds until AutoFlairPost automatically tags a new post
Reddit.NewPost.WaitTime = 60

###
# Settings for creating the Machine Learning model are below.
# Recommended to leave these values as the defaults
# Don't change these values after you train your model or your predictions may not work
###

# This controls how many words the model will process for posts
# When you first train the model, this value will be set at the maximum
#  number of words seen in your training data.  If it's more than the
#  value set here, this value takes precedence.
Model.MAX_DOCUMENT_LENGTH = 5000

# The following two values stay the same regardless of how many words are
#  seen in the training data.  If you have really long titles you may
#  want to consider increasing this value.
Model.MAX_TITLE_LENGTH = 20
Model.MAX_DOMAIN_LENGTH = 5

# This number controls the embedding dimension for data used in the Deep Neural Network (DNN).
# The default works well, but you are free to change it.
Model.EMBEDDING_SIZE = 64

# The following two values set the how many 'hidden units' are in the DNN
Model.DNN.Layer1 = 128
Model.DNN.Layer2 = 64

# This is the dropout rate for the DNN, used to prevent overfitting
Model.DNN.DROPOUT_RATE = 0.2

# The BATCH_SIZE controls how much data is fed into the trainer every step of the training process
Model.BATCH_SIZE = 64

# This controls how many full cycles are done over the training data.
# You can increase this number to train the model even more, but it takes more time
#  with diminishing returns, and you don't want to 'overtrain' the model as you
#  will get worse generalized prediction results.
# That said, we do protect from overfitting with DROPOUT_RATE
Model.NUM_EPOCHS = 1000

# This value gets populated once a model as been created.
Model.SavedModelLocation = 